<main>
    <h1>Browser</h1>
    <form action="/cubes" method="GET">
        <input type="text" class="search" name="search" placeholder="Search...">
        <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
        <input type="submit" value="search">
    </form>
    <div class="cubes">
        {{#each cubes}}
        <div class="cube">
            {{> cube}}
        </div>
        {{else}}
        {{#if inSearch}}
        <h1>NO MATCHING CUBES...</h1>
        {{else}}
        <h1>STILL NO CUBES...</h1>
        <h3>you can create some from here: .. <a href="/cubes/create" style="color: green">go to Create Page</a></h3>
        {{/if}}
        {{!-- <a href=></a>? --}}
        {{/each}}
    </div>
    {{#if cubes}}
    <a id="clear" href="/cubes/clearDB">CLEAR CUBES DB (no return!!!)</a>
    {{/if}}

</main>